# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Django specific
db.sqlite3
/media/
staticfiles/
*.log

# Virtual environment
venv/
env/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Node modules (if using npm or yarn for frontend)
node_modules/

# Coverage reports
htmlcov/
.coverage
*.cover
*.py,cover

# Test and debug output
*.log
*.pot
*.pyc
*.pyo
*.pyd
__pycache__/
build/
dist/
*.egg-info/
.eggs/

# Migrations
**/migrations/*.pyc
**/migrations/*.py,cover
**/migrations/*.py
